= simple_form_for (@user) do |f|
  = f.error_messages
  = f.input :name
  = f.input :email, placeholder: 'user@domain.com'
  = f.input :password,              :as => :password
  = f.input :password_confirmation, :as => :password
  = f.button :submit