%h1 Signup
.row
  .span6
    = simple_form_for (@user) do |f|
      = render 'shared/error_messages'    
      = f.input :name
      = f.input :email, placeholder: 'user@domain.com'
      = f.input :password,              :as => :password
      = f.input :password_confirmation, :as => :password
      
      = f.submit "Create my account", class: "btn btn-large btn-primary"