%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "LocaLib", '#', id: "logo" 
      %nav
        %ul.nav.nav-pills.pull-right
          %li 
            = link_to "Home", root_path
          %li
            = link_to "MyLib", '#' 
 
          -if signed_in?
            %li
              = link_to "Profile", current_user
            %li
              = link_to "Settings", "#"
            %li
              = link_to "Logout", signout_path, method: "delete"
          -else  
            %li
              = link_to "Sign up", signup_path 
            %li
              = link_to "Login", signin_path